@using Agility.Web;
@using Agility.Web.Mvc;


<vc:header></vc:header>

@await Component.RenderContentZone("Top")

<div class="p-w two-column-page">
	<div class="row-my">
		<div class="col-md-7">
			@await Component.RenderContentZone("Main")
		</div>
		<div class="col-md-5">
			<div class="right-col">
				@await Component.RenderContentZone("RightColumn")	
			</div>
		</div>
	</div>
</div>

<vc:footer></vc:footer>
<vc:animated-bg></vc:animated-bg>
<vc:global-scripts></vc:global-scripts>