@import "./_variables.scss";

.front-start {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  padding-top: 50px;
  padding-bottom: 80px;

  #canvas-1 {
    top: 0;
  }

  .rotated-bg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("https://static.agilitycms.com/layout/img/bg/Triangle.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .start-content {
    position: relative;
    z-index: 1;

    h1 {
      font-family: $bold;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $titles;
      margin-bottom: 46px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    h2 {
      font-family: $semibold;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: $titles;
      margin-bottom: 26px;
    }

    p {
      font-family: $regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: $colorBasic;
      margin-bottom: 56px;
    }

    .start-buttons {
      display: flex;
      align-items: center;

      button {
        margin-right: 45px;
      }

      .btn {
        margin-right: 45px;
        line-height: 48px;
      }

      .btn-link {
        display: flex;
        align-items: center;
        font-family: $bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $colorBasic;

        span {
          transition: all 0.2s cubic-bezier(0.24, 0.35, 0, 1.01);
          position: relative;
          left: 0;
        }

        img {
          margin-left: 8px;
        }

        &:hover {
          span {
            left: 8px;
          }
        }
      }
    }
  }

  .start-image {
    width: 456px;
    min-width: 456px;
    line-height: 0;
    margin-top: 86px;
    box-shadow: 0 2px 63px 0 rgba(0, 0, 0, 0.15);

    &.left {
      margin-top: 0;
      margin-right: 80px;
    }
  }
}
