.comunity-apps {
  text-align: center;

  p.intro {
    display: inline-block;
    margin-bottom: 80px;
    text-align: center;
    max-width: 1008px;
    font-size: 20px;
    line-height: 32px;
    font-family: "Muli-SemiBold", sans-serif;
    color: #484b4d;
  }

  .col-md-4 {
    @media (max-width: 767px) {
      max-width: 50%;
      -webkit-flex: 0 0 50%;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      -o-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    @media (max-width: 480px) {
      max-width: 100%;
      -webkit-flex: 0 0 100%;
      -moz-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      -o-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  #canvas-3 {
    top: 120px;
  }

  .app-item {
    margin-bottom: 32px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.05) {
      box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.05);
    };
    background-color: #ffffff;

    a {
      display: block;
      padding: 40px;

      @media (max-width: 991px) {
        padding: 30px;
      }

      @media (max-width: 767px) {
        padding: 20px;
      }
    }

    .image {
      height: 120px;
      line-height: 120px;

      img {
        vertical-align: middle;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-family: "Muli-SemiBold", sans-serif;
      color: #2a3846;
    }
  }
}
