#partners-page
  .faqs
    padding-bottom: 168px
    @media (max-width: 767px)
      padding-top: 60px
      padding-bottom: 60px
    #canvas-4
      top: 320px
    h2
      margin-bottom: 110px
      @media (max-width: 767px)
        margin-bottom: 48px
    .col-md-6
      &:nth-child(2n+1)
        padding-right: 88px
        border-right: 1px solid #dcdcdc
        @media (max-width: 1199px)
          padding-right: 16px
      &:nth-child(2n)
        padding-left: 88px
        @media (max-width: 1199px)
          padding-left: 16px
      &:first-child,
      &:nth-child(2)
        .faq-item
          padding-top: 0
      .faq-item
        padding-top: 40px
        @media (max-width: 767px)
          padding-top: 0
          margin-bottom: 70px
        .h3
          min-height: 74px
          margin-bottom: 25px
          font-size: 24px
          line-height: 1.67
          font-family: "Muli-bold", sans-serif
          color: #2a3846
          @media (max-width: 767px)
            margin-bottom: 20px
            min-height: 10px
            font-size: 18px
        .content
          p
            margin-bottom: 20px
            font-size: 16px
            line-height: 1.5
            font-family: "Muli-Regular", sans-serif
            color: #6d7882