.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ai-center {
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.jc-sb {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}

#team-page {
  .container-my {
    display: block;
  }
  .team-top {
    .canvas-1 {
      top: 100px;
    }

    .canvas-2 {
      display: none;
    }
  }

  .team-bottom {
    .canvas-1 {
      top: 50px;
    }

    .canvas-2 {
      top: auto;
      bottom: 630px;
    }
  }
}

.people-listing {
  text-align: center;

  @media (max-width: 767px) {
    padding-bottom: 0;
  }

  p.intro {
    display: inline-block;
    max-width: 1008px;
    margin-bottom: 88px;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Muli-SemiBold", sans-serif;
    color: #484b4d;

    @media (max-width: 767px) {
      margin-bottom: 50px;
      font-size: 16px;
    }
  }

  .team-content {
    .team-item {
      margin-bottom: 60px;

      .row-my {
        .col-md-4 {
          max-width: 33.33%;
          -webkit-box: 0 0 33.33%;
          -moz-box: 0 0 33.33%;
          -webkit-flex: 0 0 33.33%;
          -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;

          @media (max-width: 991px) {
            max-width: 100%;
            -webkit-box: 0 0 100%;
            -moz-box: 0 0 100%;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
          }
        }
        .col-md-7 {
          padding-left: 16px;
          padding-right: 16px;
          max-width: 58%;
          -webkit-box: 0 0 58%;
          -moz-box: 0 0 58%;
          -webkit-flex: 0 0 58%;
          -ms-flex: 0 0 58%;
          flex: 0 0 58%;

          @media (max-width: 991px) {
            max-width: 100%;
            -webkit-box: 0 0 100%;
            -moz-box: 0 0 100%;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
          }
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          margin-bottom: 0;
        }
      }

      &:nth-child(2n) {
        .row-my {
          flex-direction: row-reverse;
          -webkit-box-direction: reverse;
          -webkit-box-orient: horizontal;
          -moz-box-direction: reverse;
          -moz-box-orient: horizontal;
        }
      }

      .image {
        width: 384px;
        max-height: 384px;
        overflow: hidden;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        @media (max-width: 1199px) {
          width: 100%;
          height: auto;
        }

        @media (max-width: 991px) {
          text-align: center;
          max-height: 1000px;
          margin-bottom: 20px;
        }

        @media (max-width: 767px) {
          margin-bottom: 30px;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
          @media (max-width: 991px) {
            display: inline-block;
            max-width: 300px;
          }
        }
      }

      .content {
        text-align: left;

        .h4 {
          margin-bottom: 3px;
          font-size: 24px;
          line-height: 1.5;
          font-family: "Muli-ExtraBold", sans-serif;
          color: #2a3846;
        }

        em {
          margin-bottom: 9px;
          font-size: 16px;
          line-height: 2;
          font-family: "Muli-SemiBold", sans-serif;
          font-style: italic;
          color: #484b4d;
        }

        p {
          margin-top: 20px;
          font-size: 16px;
          line-height: 1.5;
          font-family: "Muli-Regular", sans-serif;
          color: #6d7882;
        }
      }
    }
  }
}
