@import ./_variables.sass
.postListing
    margin-left: 100px;
    background-color: #bebebe;
    .post 
        margin: 10px
        padding: 10px;
        clear: left;
        &:after 
            clear: left
            content: " "
            display: block
                    
        .postImage 
            float: left
            width: 30%
            margin-right: 15px
        
            
            
            