@import "./_variables.scss";

.section-heading {
  padding-top: 160px;

  h2 {
    margin-bottom: 42px;
  }

  span {
    font-family: $semibold;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    display: block;
    text-align: center;
    margin-bottom: 56px;
  }
}
