@using React.AspNet
@using Website.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css" />

    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
    </environment>

</head>
<body>
    @RenderBody()


    @Html.GetUGCDataServiceInitializationScript()
    <script src="~/dist/client.js" type="text/javascript" asp-append-version="true"></script>
    
    @Html.ReactInitJavaScript()
    @RenderSection("Scripts", required: false)
</body>
</html>
