{
    "Logging": {
      "LogLevel": {
        "Default": "Warning"
      }
    },
    "Agility": {
      "contentCacheFilePath": "../AgilityContent/",
      "developmentMode": "true",
      "Trace": {
        "traceLevel": "Verbose",
        "logFilePath": "../AgilityLogs/Website.log"
      }
    }
  }